:root {
    --font-family: "Arimo", sans-serif;
    --second-family: "FontAwesome", sans-serif;
}

a {
    text-decoration: none;
}

body {
    display: table;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
}

.table {
    font-family: var(--font-family);
    width: 1192px;
    height: 738px;
    padding: 28px;
    border-collapse: collapse;
    background-color: #3a4965;
}

th, td {
    background-color: #fafafa;
    border: 2px solid #e0dede;
}

.th-rowspan{
    width: 313px;
    height: 159px;
}

.th-choose {
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #484848;
    margin-top: 0;
    margin-bottom: 0;
}

.th-pricing {
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #484848;
    margin-top: 0;
    margin-bottom: 0;
}

.standart {
    width: 280px;
    height: 73px;
    background-color: #89c331;
    border: none;
}

.th-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

.ultimate {
    width: 280px;
    height: 70px;
    background-color: #f04a56;
    border: none;
}

.ultimate-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

.premium {
    width: 275px;
    height: 73px;
    background-color: #20807c;
    border: none;
}

.price {
    width: 280px;
    height: 90px;
}

.price-text {
    font-weight: 700;
    font-size: 60px;
    line-height: 47%;
    color: #484848;
    position: relative;
    top: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.up {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #484848;
    position: relative;
    bottom: 40px;
}

.month {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    position: relative;
    bottom: 20px;
    right: 24px;
    color: #484848;
}

.td-col-1 {
    width: 311px;
    height: 72px;
}

.td-col-2 {
    width: 280px;
    height: 72px;
}

.td-cube {
    background-color: #f2f2f2;
}

.td-band {
    background-color: #e3e3e3;
}
.td-list {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 5px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.td-cube-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #484848;
    text-align: center;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.tf-contact {
    width: 311px;
    height: 82px;
    background-color: #dedede;
}

.tf-contact-btn {
    width: 192px;
    height: 52px;
    border: 1px solid #484848;
    border-radius: 5px;
    padding: 0;
    background: linear-gradient(#484848 83%, #404040 17%);
}

.tf-btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
}

.tf-col-1 {
    width: 280px;
    height: 82px;
    background-color: #f2f2f2;
}

.tf-col-2 {
    width: 280px;
    height: 82px;
    background-color: #fafafa;
}

.green-btn {
    width: 192px;
    height: 52px;
    background: linear-gradient(#89c331 83%,#79b027 17%);
    border: 1px solid #89c331;
    border-radius: 5px;
}

.red-btn {
    width: 192px;
    height: 52px;
    background: linear-gradient(#f04a56 83%,#df3a46 17%);
    border: 1px solid #f04a56;
    border-radius: 5px;
}

.blue-btn {
    width: 192px;
    height: 52px;
    background: linear-gradient( #20807c 83%, #16736f 17%);
    border: 1px solid #20807c;
    border-radius: 5px;
}



