:root {
    --font-family: "Arimo", sans-serif;
    --second-family: "FontAwesome", sans-serif;
}

a {
    text-decoration: none;
}

body {
    display: table;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
}

.table {
    width: 1197px;
    height: 660px;
    padding: 25px;
    font-family: var(--font-family);
    border: 3px solid #e0dede;
    border-collapse: collapse;
    background-color: #3a4965;
}

th, td {
    background-color: #fafafa;    
}

th {
    border-bottom: 10px solid #3a4965;
}

td {
    border-bottom: 2px solid #d1cfcf;
}

.thead {
    width: 198px;
    height: 110px;
}

.th-choose {
    font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    color: #484848;
    margin-top: 0;
    margin-bottom: 0;
}

.th-pricing {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #484848;
    margin-top: 0;
    margin-bottom: 0;
}

.th-band {
    width: 160px;
    height: 100px;
    background-color: #f2f2f2;
}

.th-cube {
    width: 160px;
    height: 100px;
    background-color: #e3e3e3;
}

.th-cube-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 117%;
    padding-top: 4px;
    color: #484848;
    margin-top: 0;
    margin-bottom: 0;
}

.standart {
    width: 198px;
    height: 165px;
    background-color: #89c331;
    border-bottom: none;
}

.standart-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

.ultimate {
    width: 198px;
    height: 165px;
    background-color: #f04a56;
    border-bottom: none;
}

.premium {
    width: 198px;
    height: 165px;
    background-color: #20807c;
    border-bottom: none;
}

.price-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 78%;
    color: #fff;
    margin-top: 0;
    margin-bottom: 8px;
}

.up {
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
    position: relative;
    bottom: 15px;
}

.month {
    font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    position: relative;
    bottom: 5px;
    color: #fff;
}

.btn {
    width: 155px;
    height: 44px;
    border: 1px solid #343434;
    border-radius: 5px;
    background: linear-gradient(#414141 83%, #343434 17%);
}

.text-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    color: #fff;
} 

.td-cube {
    width: 160px;
    height: 165px;
    background-color: #e3e3e3;
}

.td-band {
    width: 160px;
    height: 165px;
    background-color: #f2f2f2;
}

.td-cube-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #484848;
    margin-top: 0;
    margin-bottom: 0;
}


